/* Resetting margin, padding and setting box-sizing for all elements */
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'sans-serif';
	box-sizing: border-box;
}

/* Setting base font size for the body for rem calculations */
body {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

/* Container styling for full width and height, with a gradient background */
.container {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100vh;
	background: linear-gradient(135deg, #410070cf, #1b161c);
	padding: 3%;
	margin: 0;
}

/* Styling the to-do app box with max width, centering, padding, and border radius */
.todo-app {
	width: 90%;
	max-width: 100%;
	background-color:rgba(196, 196, 196, 0.475);
	margin: 3% auto 3%;
	padding: 3%;
	border-radius: 3%;
}

/* Styling for the main header including color and margin */
.todo-app h2 {
	color: #3e444d;
	display: flex;
	align-items: center;
	margin-bottom: 5%;
	font-size: 1.5rem;
	/* Responsive font size */
}

/* Styling for the icon next to the header */
.todo-app h2 img {
	width: 10%;
	margin-left: 2%;
}

/* Row styling for the input and button with flex display, background, and padding */
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 65%;
	max-width: 70%;
	min-width: 65%;
	justify-content: space-between;
	background: #edeef0;
	border: solid 1px rgba(128, 128, 128, 0.368);
	margin: 2% auto ;
	padding: 0;
}

/* Input field styling within the row */
input {
	flex: 1;
	border: solid black 1px;
	width: 100%;
	outline: none;
	margin: 0;
	background: transparent;
	padding: 2%;
	font-size: 1rem;
}

/* Button styling within the row */
button {
	flex: 2;
	border: none;
	z-index: 10;
	outline: none;
	padding: 3% 10%;
	background: #ff5945;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 40px;
}

/* List item styling for the to-do tasks */
ul li {
	list-style: none;
	font-size: 1rem;
	padding: 3% 5% 3% 10%;
	user-select: none;
	cursor: pointer;
	position: relative;
}

/* Before pseudo-element for unchecked tasks with a custom icon */
ul li::before {
	content: '';
	position: absolute;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-image: url(images/bx-circle.svg);
	background-size: cover;
	background-position: center;
	top: 50%;
	left: 2%;
	transform: translateY(-50%);
}

/* Styling for checked tasks */
ul li.checked {
	color: #555;
	text-decoration: line-through;
}

/* Before pseudo-element for checked tasks with a custom icon */
ul li.checked::before {
	background-image: url(images/bx-check-circle.svg);
}

/* Span styling for the delete button within each task */
ul li span {
	position: absolute;
	right: 2%;
	top: 50%;
	width: 2rem;
	height: 2rem;
	font-size: 1.5rem;
	color: #555;
	line-height: 2rem;
	text-align: center;
	border-radius: 50%;
	transform: translateY(-50%);
}

/* Hover effect for the delete button */
ul li span:hover {
	background: #edeef0;
}

/* Media Query for larger screens to adjust padding and font sizes */
@media (min-width: 768px) {
	.todo-app {
		padding: 3% 5% 7%;
	}

	button {
		padding: 1.5% 7%;
		font-size: 1.25rem;
	}

	ul li {
		font-size: 1.25rem;
	}
}